# Environment
VERBOSE=true
DEBUG=true
DEVELOPMENT=true
COUNTRY=America/Bogota

# Application
APP_NAME=CoffeeEduMailer
APP_VERSION=0.1.0
DEFAULT_GEOMETRY=1920x1080

# API Keys
MAIL_API_KEY=your-mail-key-here
MAIL_USER=fernando.ramirez@ucaldas.edu.co